*{margin: 0;padding: 0;

}
div.top-img{
    background-image: url("../img/b1.jpg");
    width: 100%;
    height: 400px;
   margin: 0 auto;
   text-align: center;
}
div.GY{
    background: #272624;
}
.HS{
    /* width: 100%; */
    height: 80px;
    line-height: 80px;
    padding: 0;
    position: relative;
    left: -100px;
    opacity: 0;
    transition: all 0.9s linear;
}
.HS p{
    color:#fee301;
    font-size:2rem;
}
.HS p span{
    color:#fff;
    font-size:1.2rem;
    margin: 0px 0px 0px 10px;
}
#hs{
    opacity:1 !important;
    left:0px !important;
    margin: 0px 0px 0px 50px;
}
.Gtxt ul li{
    font-size: 0.9rem;
    color: #ccc;
}
.Gtxt ul{
    list-style: none;
   border-bottom: none;
   border-top: none;
   border-right:none; 
   border-left:none; 
   margin: 0px 100px 0px 100px;
   margin-top: 50px;
   line-height: 20px;
   margin-bottom: 30px;
}
.Gtxt{
    display: flex;
    justify-content: space-around;

}
#l{
    width: 30%;
    border: 1px solid #ccc;
    border-right:none; 
   border-left:none; 
   border-bottom: none;

}
#r{
    width: 70%;
    border: 1px solid #ccc;
    border-right:none; 
    border-bottom: none;
}
.Gfoot{width: 100%;height: 50px;background: #1d1c18;}
/* 底部 */
#al-foot{
    width: 100%;
    height: 100px;
    background: #1d1c18;
    position: relative;
}
#al-foot>a img{
    position: absolute;
    right: 20px;
    top: 20px;
    
}
#al-foot p{
    color: #ccc;
    font-size:0.8rem; 
    text-align: center;
    line-height: 100px;
}






